

/* WORKING CSS*/
#goalNumber{
    height:50px;
    width:500px;

}
#userTotal {
    height:50px;
    width:500px;

}
.gem {
    border: 2px solid rgb(255, 251, 39); 
    border-radius: 10px;  
}
.gem:hover {
    box-shadow: 0 0 5px 3px rgba(34, 102, 124, 0.863);
}